*{
   margin: 0px;
   padding: 0px;
}
body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 20px;
   padding: 20px;
   background-color: white;
   border: 2px solid green;
   text-decoration: dotted;
   color: red;
   font-weight: 100;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(235, 135, 197);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}